
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 25px;
}

html .services-container, .testimonials-container{
  text-align: center;
}

h1,h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin-bottom: 20px;
}

h1, h2 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;

  line-height: 50px;
  text-transform: uppercase;
}

a:hover,a:active,a:link,a:focus{
    outline: 0px none;
  }

.overlay::before{

    content: '';  width: 100%;  min-height: 750px;  background: rgba(0, 0, 0, 0.5);  z-index: 0;  position: absolute; display: block
}

.overlay-2::before{

    content: '';  width: 100%;  height: 100%; min-height: 100%;  background: rgba(0, 0, 0, 0.80);  z-index: 0;  position: absolute; display: block
}




/* Nav Styles
---------------------------------*/
#main-nav {
    width: 100%;
    text-align: center;
    border-color: #EAEAEA;
}


.header_box .brand2{color: #F00; font-size: 30px}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
header .nav .caret {
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 2px;
    margin-bottom: 4px;
    background-color: transparent;


}

.navbar {
    min-height: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: darkgreen;
}

.navStyle {
    float: right;
}

.navStyle ul {
    list-style: none;
    padding: 0px;
    float: initial;
    text-align: center;
    margin: 0 auto;
}

.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
    float: initial;
}

.navStyle ul li:first-child {
	/*margin:0px;*/;
}



.navStyle ul li a {
    display: block;
    font-size: 14px;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

 #mainNav ul li{
    margin: 0;
}

.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	  padding:0;
	  border: none;
}

#main-nav .agile_short_dropdown li a{
  color: darkgreen;
  font-weight: 100;
  font-size: 100%
}

.agile_short_dropdown li{
    width: 100%;
    display: inline-block;
    float: right;
}


.agile_short_dropdown li>a{
	text-transform:uppercase;
	color:#000000;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: green;
    text-decoration: none;
    background-color: #fff;
}

.navStyle > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: darkgreen;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: transparent;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
    text-decoration: none;
    color: red;
    background-color: transparent;
    border-bottom: 2px solid #f00;
}

.btn-block,.btn-testmonial{
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    background-color: #000;
    color: #FFFFFF;
}


/***** Header *****/

#header_wrapper {
    background: #fff;
    padding: 10px 0px;
    border-bottom: 2px solid darkgreen;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 2000;
    width: 100%;
    float: left;
}

.header_box {
    position: relative;
}

.logo {
   float: left;
   position: relative;
  bottom: 18px;
  z-index: 2;
}


#banner-section{
  width: auto;
  height: 750px;
  max-height: 750px;
  background: url("../../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.title-section h1 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin: 0 0 30px;
    text-transform: uppercase;
    text-align: center;
}

.welcome h1{
  padding-top: 5em;
  color: #fff; 
  position: relative; 
  z-index: 20; 
  text-align: center;
  font-size: 46px;
  font-family: 'Ubuntu', sans-serif;
}

.welcome p{
  text-align: center; 
  color: #ffffff; 
  position: relative; 
  z-index: 20; 
  font-size: 40px; 
  font-style: italic;
  font-family: 'Lora', serif;
  margin-bottom: 10rem
}
.header_box .navbar-brand img{
  height: 5.5rem;
  transition: all 0.3s ease-in-out;
}



/***** About us *****/

.aboutUs{padding-top: 50px; padding-bottom: 20px; background: #fafafa;}

.about p{
    color: #000000;
    font-size: 15px;
}



/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 20px;
}

.section-container-gray-bg {
  background: #f8f8f8;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
  color: #fff;
}

.section-container-image-bg .divider-1 span {
  border-color: #fff;
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
  padding: 0 120px;
}
.section-container-image-bg .section-description p {
  opacity: 0.8;
}

.section-bottom-button {
  padding-top: 60px;
}

.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #66d6c5;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

/*.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #444;
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}*/
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Divider *****/

.divider-1 span {
  display: inline-block;
  width: 200px;
  border-bottom: 1px dotted #aaa;
}


/***** How it works *****/
.how-it-works {
  padding-bottom: 30px;
}

.how-it-works-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.how-it-works-box .how-it-works-box-icon {
    font-size: 50px;
    line-height: 80px;
}

.how-it-works-box h3 {
  margin-top: 15px;
}

.how-it-works-box p {
  opacity: 0.8;
}



.footer-agiletop {
    background: #2d2d2d;
    padding: 2em 0;
}
.w3agile_hire_right {
    text-align: center;
}
.w3agile_hire_left h4 {
    font-size: 1.8em;
    color: #FFF;
    font-weight: 300;
    margin-bottom: 0.5em;
}
/*-- //footer-top --*/

/*-- more button --*/
.hire-w3lgrids {
    margin-top: 2.5em;
}
a.wthree-more {
    padding: 0 2.5em;
    border: 1px solid #00BCD4;
    font-size: 1em;
    color: #00BCD4;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    letter-spacing: 2px;
}
a.wthree-more > span {
  display: inline-block;
  padding: 1em 0;
  vertical-align: middle;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
a.wthree-more::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
a.wthree-more:hover {
  background-color: #00BCD4;
}
a.wthree-more:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
a.wthree-more:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
a.wthree-more:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  -moz-transition-delay: 0.045s;
  -o-transition-delay: 0.045s;
  -ms-transition-delay: 0.045s;
  transition-delay: 0.045s;
}
a.wthree-more:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  -moz-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  -ms-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
a.wthree-more:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  -moz-transition-delay: 0.135s;
  -o-transition-delay: 0.135s;
  -moz-transition-delay: 0.135s;
  transition-delay: 0.135s;
}
a.wthree-more:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  -moz-transition-delay: 0.18s;
  -o-transition-delay: 0.18s;
  -ms-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
a.wthree-more:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  -moz-transition-delay: 0.225s;
  -o-transition-delay: 0.225s;
  -ms-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
a.wthree-more:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
  -moz-transition-delay: 0.27s;
  -o-transition-delay: 0.27s;
  -ms-transition-delay: 0.27s;
  transition-delay: 0.27s;
}
a.wthree-more:hover > span:nth-child(7) {
  -webkit-transition-delay: 0.315s;
  -moz-transition-delay: 0.315s;
  -o-transition-delay: 0.315s;
  -ms-transition-delay: 0.315s;
  transition-delay: 0.315s;
}
a.wthree-more:hover > span:nth-child(8) {
  -webkit-transition-delay: 0.36s;
  -moz-transition-delay: 0.36s;
  -o-transition-delay: 0.36s;
  -ms-transition-delay: 0.36s;
  transition-delay: 0.36s;
}
a.wthree-more:hover > span:nth-child(9) {
  -webkit-transition-delay: 0.405s;
  -moz-transition-delay: 0.405s;
  -o-transition-delay: 0.405s;
  -ms-transition-delay: 0.405s;
  transition-delay: 0.405s;
}
a.wthree-more:hover > span:nth-child(10) {
  -webkit-transition-delay: 0.45s;
  -moz-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  -ms-transition-delay: 0.45s;
  transition-delay: 0.45s;
}







/***** Testimonials *****/

.testimonials-container {
  padding-bottom: 70px;
}

.testimonial-list {
    margin-top: 30px;
    text-align: center;
}

.testimonial-text p{
  color: #000;
}

.testimonial-list .testimonial-image img {
  max-width: 160px;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-text {
  margin-top: 30px;
}

.testimonial-list .nav-tabs {
  margin-top: 30px;
  border: 0;
}

.testimonial-list .nav-tabs li {
  float: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.testimonial-list .nav-tabs li a {
    width: 14px;
    height: 14px;
    padding: 0;
    background: #ddd;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.testimonial-list .nav-tabs li a:hover { border: 0; background: #66d6c5; }
.testimonial-list .nav-tabs li.active a { background: #66d6c5; }
.testimonial-list .nav-tabs li.active a:focus { border: 0; }


/***** Services *****/

.wrapper{
  width:100%;
  margin:0;
  padding:0;
}

.wrapper{
   background: url(../../assets/images/medical.jpg) fixed no-repeat;
   background-size: cover;
   position: relative;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
}

.wrapper::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 100%;
}

#home-wrapper{
    background:#93c83f;
}


#inner-headline{background: rgba(0,2,0,0.5); position: relative; padding-top: 20px; padding-bottom: 0px;}


#inner-headline h2.pageTitle{
  color: #ffffff;
  display:block;
  text-align: center;
  line-height: 100px;
}


#content {
  position:relative;
  /*background: #ffffff; */
  padding:50px 0 0px 0;
}

#content .services-list{
    display: none;
}


.info-blocks {margin-top: 20px;/* background: #efefef; */}
.info-blocks i.icon-info-blocks {/* float: left; */color: #93c83f;font-size: 18px;min-width: 50px;margin-bottom: 15px;text-align: center;/* background: #ffffff; */width: 72px;/* height: 72px; *//* padding-top: 21px; *//* border: 1px solid #e0e0e0; *//* line-height: 75px; */width: 100%;}
.info-blocks .info-blocks-in {padding: 46px 22px;overflow: hidden;border: 1px solid #dedede;text-align: center;background: #fff;}
.info-blocks .info-blocks-in h3 {color: #202020;font-size: 22px;line-height: 28px;margin:0px;margin-bottom: 8px;/* font-weight: bold; */}
.info-blocks .info-blocks-in p {font-size: 14px;}
.info-blocks .info-blocks-in:hover{
  border: 1px solid #93c83f;
}

.show-more{
  padding: 10px;
  background-color: transparent;
  line-height: 90px;
}

.show-more .btn{text-align: center; color: #FFFFFF; background: #66d6c5;border-color: #66d6c5; width: 120px auto; border-radius: 3px;}

.show-more button .btn:hover, .show-more button .btn:focus {
    color: #FFF;
    text-decoration: none;
    background: #66d6c5;
    border-color: #66d6c5;
}


/*--contact--*/
.contact-details{
	padding: 5px;
	text-align: center;
	/*margin-bottom: 0;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1.2825;*/
}

.contact-details p, .contact-details h4{color: #fafafa}

.contact-details .fa{
	background-color: gray;
	width: 50px;
	height: 50px;
	color: #fff;
	border-radius: 100%;
	line-height:5rem
}

.contact{
	background: transparent;
	min-height: 700px;
	padding: 2em 0em 5em;
}
/*.contact-h {
	border-bottom: 1px solid #D5D5D5;
}*/
.contact h1 {
	text-align: center;
	font-weight: normal;
	font-size: 2.2em;
	color: #fff
}

.social-links{
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.social-links li{
	display: inline-block;
	margin-right: 4px;
	border: 1px solid #757575;
	border-radius: 80px;
	margin-top: 5rem;
}

/*.contact-h ul li{display: inline-block; margin-left: 9rem; margin-top: 4rem}*/

.contact-h .fa{
	width: 50px;
	height: 50px;
	color: #fff;
	border-radius: 100%;
	line-height:5rem;
	text-align: center;
	margin:0 auto;
	display: block;
}

.social-links li a:hover, .social_links li a:focus {
    text-decoration: none;
    border-radius: 80px;
}

.contact-h .twitter{
    background-color: #55acee;
	color: #ffffff;
	border: #55acee 
}

.contact-h .facebook{
    background-color: #3b5998;
	color: #ffffff;
	border: #3b5998 
}

.pinterest{
    color: #cb2026;
}

.contact-h .linkedin{
    background-color: #007bb6;
	color: #ffffff;
	border: #007bb6 
}

.contact-info {
	background-color: rgba(0, 0, 0, 0.80);
	padding: 1.9em 0em;
	width: 50%;
	margin: 0 auto;
	margin-top: 4em;

	
}


.contact-info textarea {
	height: 200px;
}

.contact-info input[type="text"], .contact-info input[type="email"], .contact-info input[type="phone"], .contact-info textarea {
	padding: 1.4em;
	width: 100%;
	background: none;
	color: #000;
	outline: none;
	margin: 0em;
	font-size: 15px;
	resize: none;
	font-weight: 700;
	background-color: #F4F4F4;
	margin-bottom: 20px;
	border: 0px;
}
.contact-info input[type="text"]:hover, .contact-info input[type="email"]:hover, .contact-info input[type="phone"]:hover, .contact-info textarea:hover {
	border: 1px solid#F96668;
	color: #B9B9B9;
}
.contact-info input[type="submit"] {
	border: none;
	color: #fff;
	background: #66d6c5;
	cursor: pointer;
	padding: 10px 35px;
	display: block;
	letter-spacing: 1px;
	outline: none;

	border-bottom: 3px solid #66d6c5;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	margin-top: 0em;
	width: 35%;
	margin: 0 auto;
}
.contact-info input[type="submit"]:hover {
	background-color: #66d6c5;
	color: #fff;
	text-decoration: none;
}
form p {
	font-size: 12px;
	color: #8D8D8D;
}
form {
	width: 85%;
	margin: 0 auto;
	margin-top: 2em;
}
/*--/contact--*/


/***** Footer *****/


footer{

  color:#f8f8f8;
  background: #000000; 
  border:none;
}

footer p{padding-top: 50px; padding-bottom: 40px}

footer a {
  color:#fff;
}

footer a:hover {
  color: #93c83f;
}



.copyright {
  text-align:left;
  font-size:12px;
}




 /* Media Queries
--------------------------- */



/*@media only screen and (min-device-width:360px) and (max-device-width:1024px)   and (orientation:portrait){

}


@media only screen and (min-device-width:320px) and (orientation:portrait){

}*/


@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

@media (max-width: 384px){
	.w3agile_hire_left h4 {
    font-size: 1.1em;
}
}


@media (max-width: 414px){
	.w3agile_hire_left h4 {
    font-size: 1.2em;
}
}

@media (max-width: 480px){
	.w3agile_hire_left h4 {
    font-size: 1.4em;
}
}

@media (max-width: 1080px){
	.w3agile_hire_left h4 {
    font-size: 1.5em;
}
}


@media(max-width:991px){
	.w3agile_hire_left h4 {
    font-size: 1.5em;
}
}



